
<p>
VysledkyKontrol.cz jsou aplikací postavenou nad daty, která ČOI poprvé zpřístupnila 27. září 2013 ve formátu Open Data, tedy bez omezení dalšího využití. Aplikace je výsledkem iniciativy OpenData.cz, sdružující pracovníky českých univerzit (MFF UK, FIS VŠE, FIT ČVUT) a umožňuje průběžné i zpětné vyhledávání kontrolovaných subjektů a pokut uložených ČOI od počátku roku 2012. Kromě IČ a názvu kontrolovaného subjektu jsou touto cestou dostupné údaje o datu zahájení kontroly, adrese kontrolované provozovny, zjištěné porušení předpisů a následně i výše pokuty, pokud je rozhodnutí o její výši pravomocné. Není-li u kontroly údaj o pokutě uveden, znamená to, že kontrola byla bez závad, případně že správní řízení stále probíhá a o pokutě nebylo dosud rozhodnuto nebo nenabyla právní moci. Databáze však zatím nabízí pouze možnost dohledání kontrol provedených u právnických osob. Zveřejnění kontrol podnikajících fyzických osob (živnostníků) je limitováno zákonem o ochraně osobních údajů.<br>
<i>(text převzat z <a href="http://www.coi.cz/vysledky-kontrol-coi-nyni-na-www-nc1078/">tiskové zprávy České obchodní inspekce</a>)</i>
</p>

<p><b>Aplikace využívá následující zdrojová data ve formátu <a href="http://linked.opendata.cz">Linked Data</a>:</b></p>
	<dl>
		<dt><a href="http://linked.opendata.cz/resource/dataset/coi.cz/kontroly">Kontroly ČOI.CZ</a> (<a href="http://linked.opendata.cz/resource/dataset/coi.cz/kontroly">http://linked.opendata.cz/resource/dataset/coi.cz/kontroly</a>)</dt>
		<dd>Data o kontrolách provedených Českou obchodní inspekcí (ČOI) zveřejněná na <a href="http://www.coi.cz/cz/spotrebitel/open-data-databaze-kontrol-sankci-a-zakazu/">webu ČOI</a>.</dd>
    
		<dt><a href="http://linked.opendata.cz/resource/dataset/coi.cz/sankce">Sankce ČOI.CZ</a> (<a href="http://linked.opendata.cz/resource/dataset/coi.cz/sankce">http://linked.opendata.cz/resource/dataset/coi.cz/sankce</a>)</dt>
    <dd>Data o sankcích udělených Českou obchodní inspekcí (ČOI) zveřejněná na <a href="http://www.coi.cz/cz/spotrebitel/open-data-databaze-kontrol-sankci-a-zakazu/">webu ČOI</a>. </dd>
    
		<dt><a href="http://linked.opendata.cz/resource/dataset/ares/basic">ARES - základní informace</a> (<a href="http://linked.opendata.cz/resource/dataset/ares/basic">http://linked.opendata.cz/resource/dataset/ares/basic</a>)</dt>
		<dd>Data z registru ekonomických subjektů publikovaných <a href="http://wwwinfo.mfcr.cz/ares/ares.html.cz">webovými službami ARES</a></dd>
    
		<dt>Google Maps a Google Geocoding API</dt>
    <dd>Aplikace využívá mapové API společnosti Google pro zobrazovaní výsledků kontrol a Geocoding API společnosti Google pro určení GPS souřadnic, na kterých kontrola proběhla. Spolehlivost určení GPS souřadnic není 100% - vyplývá z úplnosti adres uvedených ve zdrojových datech ČOI.</dd>
	</dl>

<p>Upozornění: Provozovatel webových stránek VysledkyKontrol.cz neodpovídá za správnost a aktuálnost informací obsažených na jeho webových stránkách (včetně webových stránek VysledkyKontrol.cz).</p>
