<h2>Aplikace využívá zdrojová data ve formátu <a href="http://linked.opendata.cz">Linked Data</a></h2>
	<dl>
		<dt><a href="http://linked.opendata.cz/resource/dataset/coi.cz/kontroly">Kontroly ČOI.CZ</a> (<a href="http://linked.opendata.cz/resource/dataset/coi.cz/kontroly">http://linked.opendata.cz/resource/dataset/coi.cz/kontroly</a>)</dt>
		<dd>Data o kontrolách provedených Českou obchodní inspekcí (ČOI) zveřejněná na <a href="http://www.coi.cz/cz/spotrebitel/open-data-databaze-kontrol-sankci-a-zakazu/">webu ČOI</a>.</dd>
    
		<dt><a href="http://linked.opendata.cz/resource/dataset/coi.cz/sankce">Sankce ČOI.CZ</a> (<a href="http://linked.opendata.cz/resource/dataset/coi.cz/sankce">http://linked.opendata.cz/resource/dataset/coi.cz/sankce</a>)</dt>
    <dd>Data o sankcích udělených Českou obchodní inspekcí (ČOI) zveřejněná na <a href="http://www.coi.cz/cz/spotrebitel/open-data-databaze-kontrol-sankci-a-zakazu/">webu ČOI</a>. </dd>
    
		<dt><a href="http://linked.opendata.cz/resource/dataset/ares/basic">ARES - základní informace</a> (<a href="http://linked.opendata.cz/resource/dataset/ares/basic">http://linked.opendata.cz/resource/dataset/ares/basic</a>)</dt>
		<dd>Data z registru ekonomických subjektů publikovaných <a href="http://wwwinfo.mfcr.cz/ares/ares.html.cz">webovými službami ARES</a></dd>
    
		<dt>Google Maps a Google Geocoding API</dt>
    <dd>Aplikace využívá mapové API společnosti Google pro zobrazovaní výsledků kontrol a Geocoding API společnosti Google pro určení GPS souřadnic, na kterých kontrola proběhla. Spolehlivost určení GPS souřadnic není 100% - vyplývá z úplnosti adres uvedených ve zdrojových datech ČOI.</dd>
	</dl>
  
  <p>Upozornění: Provozovatel VysledkyKontrol.cz neodpovídá za správnost a aktuálnost informací obsažených na jeho webových stránkách (včetně webových stránek VysledkyKontrol.cz).</p>
