/* app css stylesheet */

/* for ui.bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.smallmap .angular-google-map-container { height: 15em; width: 15em; }

.bigmap .angular-google-map-container  { height: 20em; width: auto; }

/* Custom page footer */
.footer {
  padding-top: 1em;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.result .list-group {
  max-width: 30em;
}

/* ngtable */
.loading-container {
    position: relative;
}
.loading-container .loading:before, .loading-container .loading:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 50px;
    min-width: 50px;
}
.loading-container .loading:before {
    background-color: white;
    opacity: 0.5;
}
/* end of ngtable */

#footer-logo {
	width: 20em;
}
#loading {
	width:auto;
	text-align: center;
	height: 40em;
}
.animate-hide {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  line-height:20px;
  opacity:1;
  padding:10px;
  background:white;
}

.animate-hide.ng-hide-add,
.animate-hide.ng-hide-remove {
  display:block!important;
}

.animate-hide.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 10px;
}